/*
Name: Majd Kaleel
File: style.css
Date: 03 August 2026
Description: Part 4 - Evil Circle Styles
*/

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  color: white;
  background: black;
  font-family: Arial, sans-serif;
}

p {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 5px;
  color: #aaaaaa;
  font-family: Arial, sans-serif;
}

canvas {
  display: block;
  background: black;
}
